@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.hamburger {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
h1 {
  margin: 0;
}

.sidebar {
  left: 0;
  top: 0;
  background-color: #444;
  color: #fff;
  height: 100vh;
  width: fit-content;
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 15px;
}
.sidebar li:hover {
  background-color: #555;
}

.sidebar .expaned {
  width: 250px;
}

.sidebar .collapsed {
  width: 60px;
}
.sidebar span {
  margin-left: 10px;
}
/* Content Wrapper Styling */
.content-wrapper {
  margin-left: 250px; /* Match the sidebar width */
  transition: margin-left 0.3s ease;
}

.sidebar .collapsed + .content-wrapper {
  margin-left: 80px;
}
